@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);

  /* Azure Color Palette */
  --color-azure-blue: #0078D4;
  --color-azure-light: #A3C8E4;
  --color-azure-dark: #005A9E;
  --color-azure-sky: #F0F8FF;
  --color-azure-green: #008C45;
  --color-azure-cloud: #008AD7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), ui-sans-serif, system-ui, sans-serif;
}

.bg-gradient-radial {
  background: radial-gradient(ellipse at top, white 0%, white 40%, #0078D4 100%);
}
